# Virtual environment
projectenv/
*.venv/
*.env/

# Python cache files
__pycache__/
*.pyc
*.pyo

# IDE settings (e.g., VS Code, PyCharm)
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Environment configuration
.env
